<!-- Can be improved -->
<div v-if="display"
    class="vfz-countdown"
    ref="countdown" >
    <div class="vfz-countdown__panel" ref="panel">
        <p class="vfz-countdown__title">{{ countdownTitle }}</p>
        <div v-show="days > 0" class="vfz-countdown__date">
            <div class="vfz-countdown__date-number">{{ days}}</div>
            <div v-if="days === 1" class="vfz-countdown__date-name">Dag</div>
            <div v-else class="vfz-countdown__date-name">Dagen</div>
        </div>
        <div v-show="days > 0" class="vfz-countdown__colon">:</div>
        <div class="vfz-countdown__date">
            <div class="vfz-countdown__date-number">{{ hours }}</div>
            <div v-if="hours === 1" class="vfz-countdown-date__name">Uur</div>
            <div v-else class="vfz-countdown__date-name">Uren</div>
        </div>
        <div class="vfz-countdown__colon">:</div>
        <div class="vfz-countdown__date">
            <div class="vfz-countdown__date-number">{{ minutes }}</div>
            <div class="vfz-countdown__date-name">Min</div>
        </div>
        <div class="vfz-countdown__colon">:</div>
        <div class="vfz-countdown__date">
            <div class="vfz-countdown__date-number">{{ seconds }}</div>
            <div class="vfz-countdown__date-name">Sec</div>
        </div>
    </div>
</div>

